<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="galaxy">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">postgres</property>
  <property name="hibernate.connection.url">jdbc:postgresql:postgres</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property> 				<!-- In caso non fossero presenti, le tabelle vengono create -->
  <property name="hibernate.hbm2ddl.import_files">import.sql</property>
  <property name="hibernate.default_schema">public</property> 
  <mapping class="com.galaxy.project.model.Utente"/>
  <mapping class="com.galaxy.project.model.Galaxy"/>
  <mapping class="com.galaxy.project.model.AFlux"/>
  <mapping class="com.galaxy.project.model.ContinuousFlux"/>
  <mapping class="com.galaxy.project.model.Position"/>
  <mapping class="com.galaxy.project.model.RowFlux"/>
  <mapping class="com.galaxy.project.model.SpectralClassification"/>
  <mapping class="com.galaxy.project.model.SpectralLine"/>
 </session-factory>
</hibernate-configuration>
